
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using CallBookSystem.Web.ViewModels;
@model CallScheduleViewModel

    <!-- =========================================================== -->
        <div class="row">

    @foreach(var item in Model.CallPlans)
    {
          <div class="col-md-3 col-sm-12">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-gradient-info" style="padding: .5rem!important" >
                  <table style="width:100%">
                      <tr>
                          <td style="width: 15%">
                              <a class="info-box-icon" asp-action="Index" asp-controller="CallReportEntry" asp-route-callPlanId="@item.Id"><i style="cursor: pointer;" class="far fa-user fa-1x"></i></a>
                          </td>
                          <td style="width: 85%">
                              <h5 class="text-md">@item.ShortName</h5>
                          </td>
                      </tr>
                  </table>                
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Subject: <span class="float-right badge bg-primary">@item.ShortSubject</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Type: <span class="float-right badge bg-info">@item.CallTypeName</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Category: <span class="float-right badge bg-danger">@item.CategoryName</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Schedule Date: <span class="float-right badge bg-success">@item.TentativeDate.ToString("dd-MMM-yyyy")</span>
                    </a>
                  </li>
                  <li style="text-align:center;">
                      <a asp-action="Index" asp-controller="CallReportEntry" asp-route-callPlanId="@item.Id" class="schedule-scroll-box">
                        Lead Entry <i class="fas fa-arrow-circle-right"></i>
                      </a>                      
                  </li>
                </ul>                
              </div>
            </div>
            <!-- /.widget-user -->
          </div>
          <!-- /.col -->
    }
    
    
    @foreach(var item in Model.FollowupCalls)
    {
          <div class="col-md-3 col-sm-12">
            <!-- Widget: user widget style 2 -->
            <div class="card card-widget widget-user-2">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-gradient-warning" style="padding: .5rem!important">
                  <table style="width:100%">
                      <tr>
                          <td style="width: 15%">
                              <a class="info-box-icon" asp-action="Index" asp-controller="CallReportEntry" asp-route-callId="@item.CallId"><i style="cursor: pointer;" class="far fa-user fa-1x"></i></a>
                          </td>
                          <td style="width: 85%">
                              <h5 class="text-md">@item.ShortName</h5>
                          </td>
                      </tr>
                  </table>                
              </div>
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Subject: <span class="float-right badge bg-primary">@item.ShortSubject</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Type: <span class="float-right badge bg-info">@item.CallTypeName</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Category: <span class="float-right badge bg-danger">@item.CategoryName</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Followup Date: <span class="float-right badge bg-success">@item.NextFollowUpDate.Value.ToString("dd-MMM-yyyy")</span>
                    </a>
                  </li>
                  <li style="text-align:center;">
                      <a asp-action="Index" asp-controller="CallReportEntry" asp-route-callId="@item.CallId" class="schedule-scroll-box">
                        Lead Entry <i class="fas fa-arrow-circle-right"></i>
                      </a>                      
                  </li>
                </ul>                
              </div>
            </div>
            <!-- /.widget-user -->
          </div>
          <!-- /.col -->
    }
        </div>
        <!-- /.row -->

